# Environment
NODE_ENV=development

# App
APP_PORT=3000
APP_NAME="NestJS Jobs API"

# PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_DATABASE=jobs_db

# TypeORM
TYPEORM_SYNCHRONIZE=false
TYPEORM_LOGGING=true
TYPEORM_MIGRATIONS_RUN=false
